@import "@/styles/globals.module.scss";

.ContactForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  &_button {
    background-color: #fff !important;
    border: 2px solid #0046c9 !important;
    color: $main-blue !important;
    font-weight: 600 !important;
    &:hover {
      background-color: $main-blue !important;
      color: #fff !important;
      font-weight: 600 !important;
    }
  }
}
