.Top{
    // background-color: aquamarine;
    margin: 100px;
    &_TechSelection {
        &_Contents{
            margin-bottom: 30px;
            p {
                margin: 30px;
            }  
        }
    }
}
