@import "@/styles/globals.module.scss";

.Login {
  margin-top: $header-size;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  color: $main-gray;
  &_Box_Button {
    font-weight: 600 !important;
    background-color: #fff !important;
    border: 2px solid #0046c9 !important;
    color: $main-blue !important;
    &:hover {
      font-weight: 600 !important;
      background-color: $main-blue !important;
      color: #fff !important;
    }
  }
  &_Box_Link {
    margin: 20px;
    color: blue;
    font-size: small;
  }
}
