@import "@/styles/globals.module.scss";

.Top{
    // background-color: aquamarine;
    margin: 100px;
    &_Header {
        margin: 10px;
    }
    &_TechSelection {
        &_Contents{
            margin: 50px;
            margin-bottom: 20px;
            h2 {
                border-bottom: 1.5px solid $main-blue;
            }
            p {
                margin: 30px;
            }  
        }
    }
}
