@import "@/styles/globals.module.scss";

.loginAfterFst {
    margin-top: $header-size;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    color: $main-gray;
}