@import "@/styles/globals.module.scss";

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-size;
    background-color: #fff;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);

    &_link{
        display: flex;
    }

    &_WorkwizTop {
        margin-left: 10rem;
        cursor: pointer;
    }

    &_right {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 1rem;

        &_item {
            display: flex;
            align-items: center;
            margin-right: 10rem;
            &_link {
                color: $main-gray;
                margin-right: 50px;
                text-decoration: none;
                font-size: 18px;
                font-weight: 500;
            }
            // &_buttonSpace {
            //     margin-right: 20px;
            //     &_button{
            //         background-color: #fff;
            //         border: 2px solid #0046c9;
            //         color: $main-blue;
            //         font-weight: 600;
            //         &:hover {
            //             background-color: $main-blue;
            //             color: #fff;
            //             font-weight: 600;
            //         }
            //     }
            // }
        }
    }
}